*{
    box-sizing:border-box;
}

body{
    background-color: black;
}

#dog{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    height: 600px;
    background-color: black;
}