*{
    box-sizing:border-box;
}

.content-box{
    background-color: hotpink;
    width: 200px;
    height: 200px;
    padding: 50px;
    border: 5px solid lightgreen;
    margin: 50px;
    box-sizing:content-box;
}
.border-box{
    background-color: hotpink;
    width: 200px;
    height: 200px;
    padding: 50px;
    border: 5px solid lightgreen;
    margin: 50px;
    box-sizing:border-box;
}
.container{
    background-color: aquamarine;
    width: 300px;
    height: 300px;
    position: relative
}
.box{
    background-color: lightpink;
    width: 100px;
    height: 100px;
    margin:20px 0;
    border:2px solid darkseagreen;
    padding:5px;
}
.relative{
    background-color: aqua;
    position:relative;
    top:50px;
    left:50px;
}
.fixed{
    background-color: chartreuse;
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 0;
}
.absolute{
    background-color: blue;
    position:absolute;
    top: 60px;
    right: 40px;
}