 *{
    box-sizing:border-box;
}

#body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

#draggable{
    display:flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 1500px;
    height: 600px;
    background-color: pink;
}

.return {
  /* background:lightgray; */
  border: 2px dotted pink;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.avatar {
  background: pink;
  margin: 20px auto;
  height: 200px;
  width: 100px;
  position: relative;
}

.draggable {
  z-index: 1;
}

.avatar .draggable {
  position: absolute;
  display: none;
}

.black {
  background: pink;
  width: 110px;
  height: 80px;
}

.avatar .black {
  bottom: 10px;
  left: -5px;
}

.cottage {
  background: pink;
  width: 100px;
  height: 50px;
}

.avatar .cottage {
  bottom: 90px;
  left: 0;
}

.pink {
  background: pink;
  width: 130px;
  height: 30px;
}

.avatar .pink {
  top: 0;
  left: -15px;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */